%section#work.main.style3.primary
  .content.container
    %header
      %h2 Our Future
      %p
        We should be replacing gas pipes for our future.
      .slider
        #image-slider
          %img{src: "../images/story/badstreet.png"}
          %img{src: "../images/story/goodstreet1.png"}
  %a.button.style2.down.anchored{:href => "#guide"} Next
