%section#work.main.style3.primary
  .content
    %header
      %h2 Our Future
      %p
        Over the next 25 years, gas companies will replace all leak-prone pipes, but what will it look like on our way there? We’ll need efficient coordination to make it a smooth journey: reducing cost, protecting our streets, and providing opportunities to upgrade other infrastructure, like water and sewer mains.

      .slider
        #image-slider
          %img{src: "../images/story/badstreet.png"}
          %img{src: "../images/story/goodstreet1.png"}
  %a.button.style2.down.anchored{:href => "#guide"} Next
