%section#work.main.style3.primary.inner-images
  .content.container
    %header
      %h2 Accelerated Pace
      %p
        Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
        Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
        arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.
    / Lightbox Gallery
    .container.gallery{:class => "75%"}
      .row.images{:class => "0%"}
        .6u{:class => "12u(mobile)"}
          %a.image.fit.from-left{:href => "images/fulls/01.jpg"}
            %img{:alt => "", :src => "../images/story/map1.png", :title => "The Anonymous Red"}/
        .6u{:class => "12u(mobile)"}
          %a.image.fit.from-right{:href => "images/fulls/02.jpg"}
            %img{:alt => "", :src => "../images/story/map2.png", :title => "Airchitecture II"}/
