%section#accelerating.style3.secondary.inner-images.fullscreen
  .content.container
    %header
      %h2 Accelerating Repairs
      .ui.divider.green.left
      %p In 2014, gas companies filed Gas System Enhancement Plans to replace all leak-prone pipe in 20-25 years. In order to access the pipes, the gas company must cut through municipally-owned and maintained streets. This will be a huge challenge: With a 60% increase in annual miles replaced compared to 2014 and a short construction season (April to November), meeting this timeline will be daunting and require efficient coordination between municipalities and gas companies. Over half of municipalities surveyed already expressed low satisfaction with current coordination and frustration that gas companies cut into their streets too much, which leaves a lot of room for improvement. 
    / Lightbox Gallery
    .container.gallery{:class => "75%"}
      .row.images{:class => "0%"}
        .6u{:class => "12u(mobile)"}
          .image.fit
            %img{:alt => "", :src => "../images/story/2008.png", :title => "The Anonymous Red"}/
        .6u{:class => "12u(mobile)"}
          .image.fit
            %img{:alt => "", :src => "../images/story/2016.png", :title => "Airchitecture II"}/
