%section#accelerating.style3.secondary.inner-images.fullscreen
  .content.container
    %header
      %h2 Accelerating Repairs
      .ui.divider.green.left
      %p
        %ul.ui.list
          %li.item
            Gas companies own and maintain the gas mains, but in order to access them for leak repair and pipe replacement, they must cut through municipally-owned and maintained streets. Multiple owners necessitates coordination.
          %li.item
            To complicate matters, short construction season in New England (typically lasting from April 15 to November 15 when the ground is thawed) mean utilities and cities only have a small portion of the year to perform their paving and gas main work.
          %li.item
            Between now and 2034, planned pipe replacement will rise by 400%. 

    / Lightbox Gallery
    .container.gallery{:class => "75%"}
      .row.images{:class => "0%"}
        .6u{:class => "12u(mobile)"}
          %a.image.fit.from-left{:href => "images/fulls/01.jpg"}
            %img{:alt => "", :src => "../images/story/map1.png", :title => "The Anonymous Red"}/
        .6u{:class => "12u(mobile)"}
          %a.image.fit.from-right{:href => "images/fulls/02.jpg"}
            %img{:alt => "", :src => "../images/story/map2.png", :title => "Airchitecture II"}/
