%section.main.style3.secondary.from-bottom
  .content.box.style2
    %header
      %h2 The Cost of Not Coordinating
    %p
      .ui.two.column.grid
        .eight.wide.column
          %p
  .content.container
    .ui.grid
      .twelve.wide.column
        .chart#coordination
      .four.wide.column
        Assumptions:
        %form#assumptions.ui.form
          %p
            %input{:checked => "checked", :id => "0.3", :name => "radio", :type => "radio", :value => "0.3"}/
            %label{:for => "0.3"} 30% of roads coordinated
          %p
            %input{:id => "0.4", :name => "radio", :type => "radio", :value => "0.4"}/
            %label{:for => "0.4"} 40% of roads coordinated
          %p
            %input{:id => "0.5", :name => "radio", :type => "radio", :value => "0.5"}/
            %label{:for => "0.5"} 50% of roads coordinated
          %p
            %input#1{:name => "radio", :type => "radio", :value => "1"}/
            %label{:for => "1"} 100% of roads coordinated
        %h3 Total Saved:
        %h3#total-saved{:style => "color: #63afaa"}
        %p Over 15 years
  %a.button.style2.down.anchored{:href => "#functional-street"} Next
