%section#two.main.style2.right.dark.fullscreen
  .content.box.style2
    %header
      %h2 The Cost of Gas Leaks
    %p
      Leaks in the State’s distribution system are likely to release 1-5% of all greenhouse gas emissions (in carbon-dioxide equivalents) in the State annually. Leaks cost Cost ratepayers
      .ui.statistic{style: "margin: inherit; line-height: 3.3em;"}
        .value{style: "color: inherit; font-family: inherit; font: inherit; margin-top: "}
          $11-60 Million
    %p
      per year in Massachusetts

  %a.button.style2.down.anchored{:href => "#accelerating"} Next
