%section#two.main.style2.right.dark.fullscreen
  .content.box.style2
    %header
      %h2 The Cost of Gas Leaks
    %p
      In 2015, calculated the total cost of lost gas to be  
      .ui.statistic{style: "margin: inherit;"}
        .value{style: "color: inherit; font-family: inherit; font: inherit; margin-top: "}
          $90 million
    %p
      per year in the Greater Boston area

  %a.button.style2.down.anchored{:href => "#work"} Next
  / .chart
  /   %script#infogram_0_71a53c68-2361-4b70-879e-1a761d1f639d{:src => "//e.infogr.am/js/embed.js?Mvh", :title => "", :type => "text/javascript"}
  /   %div{:style => "padding:8px 0;font-family:Arial!important;font-size:13px!important;line-height:15px!important;text-align:center;border-top:1px solid #dadada;margin:0 30px"}
  /     %br/
  /     %a{:href => "http://charts.infogr.am/line-chart?utm_source=embed_bottom&utm_medium=seo&utm_campaign=line_chart", :style => "color:#989898!important;text-decoration:none!important;", :target => "_blank"} Create line charts
