%section.main.style3.primary.from-bottom
  .content.container
    %header
      %h2 The Cost of Not Coordinating
    %p
      Replacing gas mains is expensive, about $1 million per mile. That’s over $5.4 billion to replace all leak-prone pipe. Through coordination, we can avoid much of that cost.
    .ui.grid
      .eleven.wide.column
        .chart#coordination
      .five.wide.column
        %h3 Total Saved:
        %h3#total-saved{:style => "color: #63afaa"}
        %p Over 15 Years.
        %p{style: "font-size: .8em; line-height: 1.2em;"} 
          This cost-savings analysis assumes a certain percentage of roads can be coordinated. To change this assumption, select from the options below:
        %form#assumptions.ui.form
          .inline.fields
            .field  
              .ui.radio.checkbox
                %input{:checked => "checked", :id => "0.3", :name => "radio", :type => "radio", :value => "0.3"}/
                %label{:for => "0.3"} 30%
            .field  
              .ui.radio.checkbox
                %input{:id => "0.4", :name => "radio", :type => "radio", :value => "0.4"}/
                %label{:for => "0.4"} 40%
            .field  
              .ui.radio.checkbox
                %input{:id => "0.5", :name => "radio", :type => "radio", :value => "0.5"}/
                %label{:for => "0.5"} 50%
            .field  
              .ui.radio.checkbox
                %input#1{:name => "radio", :type => "radio", :value => "1"}/
                %label{:for => "1"} 100%
        %p
          of roads were coordinated.
  %a.button.style2.down.anchored{:href => "#work"} Next
