%section#underground.main.style2.left.dark.fullscreen
  .content.box.style2
    %header
      %h2 Our Aging Infrastructure
    %p
      %ul.ui.list
        %li.item
          DID YOU KNOW: Massachusetts has some of the oldest natural gas main infrastructure in the nation. The average age of pipe is >60 years, and over 30% of this infrastructure consists of leak-prone pipe. 
        %li.item
          WHAT CAUSES LEAKS: Leaks often occur at the joints between pipe segments, when old fitting materials wears out. This is particularly common in cast-iron pipes, because the connection between two pipe segments historically was sealed with the use of an organic, plant-based material. Over time, this material dries out and degrades, a process accelerated because modern gas is less humid, letting gas escape. Leaks can also occur along the body of the pipe due to rust and corrosion. Further, the annual freeze-thaw cycle contributes heavily to the creation of new leaks by causing separation at the joints or cracks along the pipe body.
        %li.item
          THE ISSUE WITH LEAKS: In 2015 the DPU Report on the Prevalence of Natural Gas Leaks in the Natural Gas System estimated/reported that 1.68 billion cubic feet of lost and unaccounted (LAUF) gas 
  %a.button.style2.down.anchored{:href => "#two"} Next
