%section#underground.main.style2.left.dark.fullscreen
  .content.box.style2
    %header
      %h2 Our Aging Infrastructure
    %p
      DID YOU KNOW: Massachusetts has some of the oldest natural gas main infrastructure in the nation. The average age of pipe is >60 years, and over 30% of this infrastructure consists of leak-prone pipe. 
  %a.button.style2.down.anchored{:href => "#two"} Next
