%section#contact.main.style3.secondary.from-bottom
  .content.container
    %header
      %h2 Get Started.
      %p We interviewed municipalities and gas companies across the region, documented effective solutions, evaluated using gas leak surveys, and developed best practice recommendations.
    .box.container{:class => "75%"}
      .ui.two.column.very.relaxed.center.aligned.grid
        .column
          %header
            %h3 How to Guide
          %p
            We made a how-to guide to help.
          %a{href: "/best-practices"}
            %button.ui.button.purple-button
              Read the guide
        .column
          %header
            %h3 Read the Report
          %p
            Learn how cities are doing it right.
          %a{href: "/report"}
            %button.ui.button.purple-button
              Read the Report
        .column
          %header
          %h3 Case Studies
          %p
            See how diverse municipalities and a gas company are innovating on coordination.
          %a{href: "/case-studies"}
            %button.ui.button.purple-button
              Case Studies
%br
%br
