%section#prioritizing.main.style3.secondary.from-bottom
  .content.container
    %header
      %h2 Prioritizing Superemitters
      %p Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
    .chart#superemitters
    .ui.two.column.grid.chart
      .row
        .column
          #superemitters2
        .column
          #superemitters3


