%section#contact.main.style3.secondary.from-bottom
  .content.container
    %header
      %h2 Prioritizing Superemitters
      %p Targeting pipes with “super-emitters” - the largest leaks - is a cost-effective way to get started on the problem, but measuring volume of leaked gas is currently cost-prohibitive. Research from this study suggests that the surface area impacted by a leak could be a practical way to identify super-emitters, but only 8% of leaks made up nearly 50% of the area of soil impacted by all leaks. 	
    .chart#superemitters
    .ui.two.column.grid.chart
      .row
        .column
          #superemitters2
        .column
          #superemitters3


