%section#intro.main.style1.primary.fullscreen.fullscreenplus
  .content.container{:class => "75%"}
    %header
      %h2 Coordinating Repair
      %p
        Natural Gas Leaks Across Massachusetts
      .ui.divider.green
      %footer
        %button.ui.button.purple-button
          Municipal Official
        %button.ui.button.purple-button
          Citizen
