%section#intro.main.style1.primary.fullscreen.fullscreenplus
  .content.container{:class => "75%"}
    %header
      %h2
        %span.green
          Fix Our Pipes:
        Coordinating Natural Gas Leak Repairs between Local Government and Gas Companies
      %p
      .ui.divider.green.left
      %footer
        %button.ui.button.purple-button
          Read the Report
        %button.ui.button.purple-button
          How-To Guide
.clouds
