%section#intro.main.style1.primary.fullscreen.fullscreenplus
  .content.container{:class => "75%"}
    %header
      %h2
        %span.green
          Fixing Our Pipes: 
        Coordinating Natural Gas Main Replacement
      %p
        Between Local Governments and Gas Companies
      .ui.divider.green.left
      %footer
        %a{href: "/report"}
          %button.ui.button.purple-button
            READ THE REPORT
        %a{href: "/best-practices"}
          %button.ui.button.purple-button
            HOW-TO GUIDE
.clouds
