%section#intro.main.style1.primary.fullscreen.fullscreenplus
  .content.container{:class => "75%"}
    %header
      %h2
        %span.green
          Fix Our Pipes:
        Replacing Natural Gas Pipes Across Massachusetts
      %p
      Between Local Government and Gas Companies
      .ui.divider.green.left
      %footer
        %button.ui.button.purple-button
          Read the Report
        %button.ui.button.purple-button
          How-To Guide
.clouds
