%section#intro.main.style1.primary.fullscreen
  .content.container{:class => "75%"}
    %header
      %h2 Coordinating Repair
      %p
        Natural Gas Leaks Across Massachusetts
      .ui.divider.green
      %footer
        %a.button.style2.down{:href => "#one"} Learn More
