%section#intro.main.style1.dark.fullscreen
  .content.container{:class => "75%"}
    %header
      %h2 Catchy gas leaks title.
      %p
       More informative tagline please.
      %footer
        %a.button.style2.down{:href => "#one"} More
