%section#intro.main.style1.primary.fullscreen.fullscreenplus
  .content.container{:class => "75%"}
    %header
      %h2
        %span.green
          Coordinating Repair:
        Replacing Natural Gas Pipes Across Massachusetts
      %p
        Coordinating natural gas leak repair between local government and gas companies
      .ui.divider.green.left
      %footer
        %button.ui.button.purple-button
          Read the Report
        %button.ui.button.purple-button
          How-To Guide
