%section#intro.main.style1.primary.fullscreen.fullscreenplus
  .content.container{:class => "75%"}
    %header
      %h2
        %span.green
          Coordinating Repair :
        Natural Gas Leaks Across Massachusetts
      %p
        Coordinating natural gas repairs in local government and utility companies
      .ui.divider.green
      %footer
        %button.ui.button.purple-button
          Read the Report
        %button.ui.button.purple-button
          How-To Guide
