/ Footer
%footer#footer
  / Icons
  %ul.actions
    %li
      %a{href: "http://mapc.org", target: "_blank"}
        %img{src: "/images/mapc-white.png"}
    %li
      %a{href: "http://www.heetma.org/"}
        %img{src: "/images/heetlogo.gif"}

  / Menu
  %ul.menu
    %li © MAPC
    %li
      Design: Daniel Nolen, SemanticUI, and HTML5 UP
