/ Footer
%footer#footer
  / Icons
  %ul.actions
    %li
      %img{src: "images/mapc-white.png"}
    %li
      %img{src: "images/heetlogo.gif"}

  / Menu
  %ul.menu
    %li © MAPC
    %li
      Design:
      %a{:href => "http://html5up.net"} HTML5 UP
