/ Header
%header#header
  / Logo
  %h1#logo Gas Leaks
  / Nav
  %nav#nav
    %ul
      %li
        %a{href: '/'}
          Home
      %li
        %a{href: '/best-practices'}
          Best Practices
      %li
        %a{href: '/report'}
          Report
