%h1.ui.header
  About
%p
  “Fix Our Pipes: Coordinating Natural Gas Leak Repairs Between Local Governments & Gas Companies” is a joint initiative of MAPC’s Clean Energy Department and HEET, created through support from a 2015 Technical Assistance Grant from the federal Department of Transportation’s Pipeline & Hazardous Materials Safety Administration. This site and interactive report was developed by MAPC’s Digital Services Group.

%h2.ui.header
  Organizational Overview

%p 
  METROPOLITAN AREA PLANNING COUNCIL (MAPC) is a regional planning agency serving the people who live and work in the 101 cities and towns of greater Boston, with a mission to promote smart growth and stakeholder collaboration within our region. MAPC works to support sound municipal management, sustainable land use, protection of natural resources, efficient and affordable transportation, a diverse housing stock, public safety, economic development, an informed public, and equity and opportunity among people of all backgrounds. MAPC’s Clean Energy Department specifically focuses on helping cities and towns reduce greenhouse gas emissions.
 
%p 
  HOME ENERGY EFFICIENCY TEAM (HEET) is a nonprofit with the mission to reduce energy bills and energy use through efficiency. Since 2013, HEET has been at the forefront of the natural gas leaks issue, working with Boston University Professor Nathan Phillips and Robert Ackley of Gas Safety Inc. to map and analyze the natural gas leaks from aging underground pipes in Cambridge and Somerville. HEET has also used utility-reported data to map gas leaks in over 230 municipalities across Massachusetts. HEET has been educating and collaborating with a variety of cities, state agencies, and nongovernmental groups on the issue. 


%h2.ui.header 
  Methods
   
%p
  The Technical Assistance Grant from the federal Department of Transportation’s Pipeline & Hazardous Materials Safety Administration funded MAPC and HEET to:
%ul.ui.list
  %li.item
    Interview municipal and gas company officials to assess the state of coordination and identify best practice improvements.
  %li.item
    Conduct independent gas leaks surveys in a subset of municipalities to explore the impact of coordination on leaks and to collect data to improve the region’s understanding of gas leaks.  
%p
  The team chose to focus municipal recruitment in order to achieve a similar mix of median-income levels, community types, and gas companies as are found within the entire 101 municipalities of the MAPC region. For gas companies, the team included National Grid, Eversource, and Columbia Gas, omitting Wakefield Gas & Electric and Blackstone Gas as each covered only one eligible municipality in the region or less than 1% of the total municipalities.

%p 
  Municipal recruitment occurred from late December 2015 through May 2016. The team recruited 26 municipalities. Each participated in an interview about their roadwork planning and coordination practices and other experiences with their gas company. The team then selected 15 municipalities in which to conduct a gas leak survey of 10 to 15 miles of roadway with natural gas infrastructure, again proportionally representing the characteristics of the MAPC region. MAPC interviewed each of the three gas companies in the spring of 2016 and held follow up conversations through the summer and early fall.  In late September 2016, MAPC held workshops to present preliminary findings, collect feedback and hear additional perspectives. The workshops included municipal and gas company staff and emphasized providing the opportunity to generate discussion between both parties. The figure below illustrates all of the participants in the study and workshops. Full details on recruitment are available in the report. 
%br
%img{src:'../images/methodsmap.png', class: 'ui centered image'}
%br
%br
