.sixteen.wide.column
  = partial 'header'

.sixteen.wide.column
  .header
    %h1
      %a.ui.large.basic.green.circular.label
    .ui.grid
      .row
        .ten.wide.column
          %p.intro
        .six.wide.column

.sixteen.wide.column
  %hr
  .ui.horizontal.divider
  .ui.grid#goals
    .row
      .sixteen.wide.column
        %h3
          %i.green.circle.checkmark.icon
          Goals for this phase

.sixteen.wide.column
  %hr
  .ui.horizontal.divider

.ten.wide.column
  .ui.grid
    .row
      .sixteen.wide.column
        %h3 Action Steps
        .ui.fluid.accordion#action-steps

.six.wide.column
  .ui.grid
    .sixteen.wide.column
      .ui.tertiary.inverted.olive.segment

.sixteen.wide.column
  %h4 Ready for more? Explore another phase in the mortgage process.
