---
title: Executive Summary
---

.report-body
  %h2.ui.header
    Fixing Our Pipes: Coordinating Natural Gas Main Replacement between Local Governments and Gas Companies
  .ui.divider.green.left
  %h3.ui.header
    Executive Summary
  %p 
    Massachusetts’ 2014 An Act Relative to Natural Gas Leaks, set the State on an accelerated course to replace its thousands of miles of leaking and leak-prone pipe within 20 to 25 years. Accomplishing the replacement, while coordinating to minimize damage to municipal streets, inconvenience of construction, and overall cost to ratepayers, will stretch the abilities of gas companies and local municipalities alike. Even then, the State faces more than a decade with substantial amounts of leak-prone pipe.

  %p 
    In 2015 MAPC, partnering with HEET, secured a Technical Assistance Grant from the U.S. Department of Transportation’s Pipeline & Hazardous Materials Safety Administration to identify mechanisms to help gas companies and cities and towns replace pipe more efficiently and possibly accelerate the 20 to 25 year timetable. The grant funded a study of municipality and gas company coordination as well as independent gas leak surveys. 

  %p 
    Nearly half of municipalities interviewed expressed low satisfaction with the existing gas company communication and/or coordination; however, the study identified many improvements for both gas companies and municipalities to make. Most of the best practices identified by the study are low- or no- cost and can be implemented in the short term. Ultimately, the best practices are intended to help municipalities and gas companies identify more shared opportunities to synchronize work. Synchronizing means that the gas company could perform its pipe replacement before the municipality replaces its water or sewer mains and repaves. Doing so can avoid the need to cut into a newly paved street, which would incur unnecessary costs for paving, damage municipal roads, and likely reduce the useful life of the road. 

  %p 
    To achieve synchronization, more municipalities need to develop three to five year infrastructure plans across paving, water and sewer and share those with the gas company. For their part, gas companies already have their own plans, but need to share multiple years with municipalities. Also, gas companies should improve their communication process with municipalities, to ensure more consistency and quality across their regions. With plans and communication structures in place, gas companies and municipalities should schedule an annual pre-construction season meeting to compare plans, identify opportunities to synchronize projects, and set communication and coordination expectations for the construction season. To improve the ability to compare multi-year plans, municipalities should leverage widely-used GIS technology for mapping, analysis and data management. Finally, synchronization can generate avoided costs for the gas company, and if both the gas company and municipality share those savings, it can fund additional pipe replacement and paving.

  %p 
    The independent gas leak surveys found that the gas companies and municipalities who are already implementing multiple best practices appear to be successfully reducing the number of leaks per mile on new pavement, but there is ample room to improve.

  %p 
    Additionally, the gas leak surveys suggest a practical way to target “super-emitting” leaks - those that emit a disproportionate amount of gas, and whose pipes should be addressed first for the largest and most cost-effective reduction in lost gas. Specifically, the data indicates that measuring the surface area extent of each leak could be a low-cost and effective way to identify the leaks emitting the largest volume of gas.

  %p 
    The gas leaks surveys also support the need to replace leak-prone pipe rather than chase leak repairs, based on the growth rate seen between the last report from the gas companies and this survey. The gas leaks surveys also support the efficacy of new, plastic pipe installations, finding that they were virtually leak free. 

  %p 
    The team concludes that improved coordination can help reduce frustration, construction delays, and lost opportunities for leak-prone pipe replacement while creating synergies, significant cost savings, and better roads. 

  %p 
    The team encourages municipalities and gas companies to review the best practices and identify which they currently meet, and which they do not. For municipalities, the team suggests that each municipality catalog their current practices, review them on an annual basis, and identify best practices to add. To assist municipalities, the study includes a checklist of best practices and a calendar of implementation dates.

  %p 
    Additionally, the team recommends that gas companies and municipalities take this opportunity to reassess each element of their coordination process and meet with the other party to comprehensively discuss issues, needs, and how both parties plan to improve. With years of shared experiences, many of them challenging, municipal and gas company relationships may understandably be stressed or frayed. Take this chance to reset the relationship, clarify needs, and set expectations for how to move forward.

%br
%p{style: "color: black; opacity: 0.5; font-size: 0.75em; margin-left: 13.5em; margin-right: 13.5em; text-align: left;"}
  PREPARED BY METROPOLITAN AREA PLANNING COUNCIL and
  HOME ENERGY EFFICIENCY TEAM
%br
%div{style: "text-align: center; width:100%;"}
  %a{href: "/Fixing Our Pipes_MAPC HEET_10-2016-FINAL.pdf", style: "text-align: center;"}
    %button.button
      READ FULL REPORT
%br
%div{style: "text-align: center; width:100%;"}
  %a{href: "/Fixing Our Pipes Technical Appendix_10-2016.pdf", style: "text-align: center;"}
    %button.button
      READ THE TECHNICAL APPENDIX
%br
%br
