---
title: Executive Summary
---

.report-body
  %h1.ui.header
    Fix Our Pipes: Coordinating Natural Gas Leak Repairs Between Local Governments and Gas Companies
  %h1.ui.header
    Executive Summary
  %p
    Massachusetts 2014 An Act Relative to Natural Gas Leaks, set the State on an accelerated course to replace its thousands of miles of leaking and leak-prone pipe. It has led to a 400% increase in the replacement of gas mains in Massachusetts, stretching the ability of gas companies and local municipalities to coordinate the construction. Nevertheless, it will still take 20 to 25 years to replace all the leaky pipe.

  %p
    MAPC, partnering with HEET, secured a Technical Assistance Grant from the U.S. Department of Transportation’s Pipeline & Hazardous Materials Safety Administration to identify mechanisms to help the gas companies and cities and town replace pipe efficiently and possibly accelerate the 20 to 25 year timetable. The grant funded a study of municipality and gas company coordination as well as independent survey of gas leaks. 

  %p
    The team found:
  %ul.ui.list
    %li.item
      Nearly half of municipalities expressed low satisfaction with the existing gas company communication and/or coordination
    %li.item
      Failure to provide advanced notification of paving projects or failure to act on that notification results in lost opportunities for leak-prone pipe replacement
    %li.item
      Both gas companies and municipalities need to make improvements, and there are examples of both parties devising innovative solutions to improve coordination that should be more broadly enacted
    %li.item
      Most of the solutions are low-cost improvements to coordination that could dramatically reduce lost opportunities
    %li.item
      Installations of new plastic pipe, as expected, are nearly leak-free
    %li.item
      Measuring the surface area extent of each leak could be a low-cost and effective way to estimate the volume of leaks and target “super-emitting” leaks for remediation or pipe replacement
    %li.item
      The growth rate of leaks between the last report from the gas companies and this survey highlights the need to replace leak-prone pipe rather than chase leak repairs

  %p
    Perhaps most importantly, the team found that gas companies and municipalities that are already implementing multiple best practices appear to be successfully reducing the number of leaks per mile on new pavement, but there is ample room to improve.

  %p
    The team concludes that improved coordination can help reduce frustration, construction delays, and lost opportunities for leak-prone pipe replacement while creating synergies and significant cost savings.  

